In [1]:
#TLO1

In [2]:
a = 10
b = 3.5
c = "20"
result1 = a + int(c)
result2 = a * b
result3 = a / b
print(result1, result2, result3)

30 35.0 2.857142857142857

In [5]:
s = "Programming is fun!"
extracted_word = s[12:14]
print(extracted_word)

is

In [6]:
l = 10
w = 5
area = l * w
print("The area of the rectangle is:", area)

The area of the rectangle is: 50

In [7]:
x = 5
y = 10
sum_result = x + y
diff_result = x - y
prod_result = x * y
quot_result = x / y
print("Sum:", sum_result)
print("Difference:", diff_result)
print("Product:", prod_result)
print("Quotient:", quot_result)

Sum: 15
Difference: -5
Product: 50
Quotient: 0.5

In [8]:
a = 15
b = 4
remainder = a % b
print("The remainder of the division is:", remainder)

The remainder of the division is: 3

In [ ]:
x = float(input("Enter the first number: "))
y = float(input("Enter the second number: "))

sum_result = x + y
diff_result = x - y
prod_result = x * y
quot_result = x / y

print("Sum:", sum_result)
print("Difference:", diff_result)
print("Product:", prod_result)
print("Quotient:", quot_result)

In [ ]:
l = float(input("Enter the length of the rectangle: "))
w = float(input("Enter the width of the rectangle: "))
area = l * w
print("The area of the rectangle is:", area)

In [2]:
#TLO3(strings, lists, dictionaries, tuples, and sets in Python )

1. Exercise: Concatenate two strings and find the length of the concatenated string.

In [3]:
string1 = "Python"
string2 = "Programming"
concatenated_string = string1 + string2
length = len(concatenated_string)
print("Length of the concatenated string:", length)

Length of the concatenated string: 17

2. Exercise: Find the index of a specific character in a string.

In [4]:
input_string = "Python is an easy-to-learn and powerful programming language"
character_to_find = "p"
index = input_string.find(character_to_find)
print(f"Index of character '{character_to_find}': {index}")

Index of character 'p': 31

3. Exercise: Use a dictionary to store the following key-value pairs: {"A": 1, "B": 2, "C": 3}. Retrieve the value associated with the key "B".

In [5]:
my_dict = {"A": 1, "B": 2, "C": 3}
value = my_dict.get("B")
print("Value associated with key 'B':", value)

Value associated with key 'B': 2

4. Exercise: Create a tuple with the following elements: 1, 4, 9, 16, 25. Find the length of the tuple.

In [6]:
my_tuple = (1, 4, 9, 16, 25)
length = len(my_tuple)
print("Length of the tuple:", length)

Length of the tuple: 5

5. Exercise: Create a set with the following elements: 1, 2, 3, 4, 5, 2, 3, 4. Find the length of the set.

In [7]:
my_set = {1, 2, 3, 4, 5, 2, 3, 4}
length = len(my_set)
print("Length of the set:", length)

Length of the set: 5

6. Exercise: Check if a given string is a palindrome or not.

In [8]:
input_string = "madam"
is_palindrome = input_string.lower() == input_string.lower()[::-1]
print(f"Is '{input_string}' a palindrome? {is_palindrome}")

Is 'madam' a palindrome? True

7. Exercise: Find the maximum and minimum values in a list.

In [9]:
my_list = [4, 6, 2, 9, 1, 3]
max_value = max(my_list)
min_value = min(my_list)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 9
Minimum value: 1

8. Exercise: Replace a specific character in a string.

In [10]:
input_string = "Python is an easy-to-learn and powerful programming language"
character_to_replace = "a"
replacement = "A"
new_string = input_string.replace(character_to_replace, replacement)
print(f"String with '{character_to_replace}' replaced by '{replacement}': {new_string}")

String with 'a' replaced by 'A': Python is An eAsy-to-leArn And powerful progrAmming lAnguAge

9. Exercise: Merge two dictionaries.

In [11]:
dict1 = {"A": 1, "B": 2, "C": 3}
dict2 = {"D": 4, "E": 5, "F": 6}
merged_dict = {**dict1, **dict2}
print("Merged dictionary:", merged_dict)

Merged dictionary: {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6}

10. Exercise: Check if a given value exists in a tuple.

In [12]:
my_tuple = (1, 4, 9, 16, 25)
value_to_check = 9
value_exists = value_to_check in my_tuple
print(f"Does value {value_to_check} exist in the tuple? {value_exists}")

Does value 9 exist in the tuple? True

11. Exercise: Remove duplicates from a list and create a new set.

In [13]:
my_list = [1, 2, 3, 4, 5, 2, 3, 4]
unique_set = set(my_list)
print("Set without duplicates:", unique_set)

Set without duplicates: {1, 2, 3, 4, 5}

In [15]:
#TLO4(booleans, comparison operators, and I/O operations in Python )

1.Create a script that reads the entire content of a file named "example.txt" and prints the content.

In [17]:
with open("myfile.txt", "r") as file:
    content = file.read()
    print(content)

HELLO this is the first file
this is second line
this is third line

2.Create a script that reads the first line of a file named "example.txt" and prints it.

In [18]:
with open("myfile.txt", "r") as file:
    first_line = file.readline()
    print(first_line)

HELLO this is the first file

3.Create a script that creates a new file named "empty.txt" and writes the string "This is an empty file." to it.

In [20]:
with open("empty.txt", "w") as file:
    file.write("This is an empty file.")

4.Create a script that appends a new line with the text "Appended line." to an existing file named "append_example.txt".

In [22]:
with open("append_myfile.txt", "a") as file:
    file.write("\nAppended line.")

5.Create a script that reads the content of a file named "example.txt" and prints the number of characters in the file.

In [24]:
with open("myfile.txt", "r") as file:
    content = file.read()
    print(len(content))

22

6.Create a script that reads the content of a file named "example.txt" and prints the number of words in the file.

In [26]:
with open("myfile.txt", "r") as file:
    content = file.read()
    words = content.split()
    print(len(words))

5

7.Create a script that checks if the variable num is an even number between 10 and 20 (inclusive) and prints the result.

In [27]:
num = 14
result = 10 <= num <= 20 and num % 2 == 0
print(result)

True

8.Create a script that checks if the length of the string text is between 5 and 10 characters (inclusive) and contains the letter "a". Print the result.

In [28]:
text = "banana"
result = 5 <= len(text) <= 10 and 'a' in text
print(result)

True

9.Create a script that checks if the variable temperature is between 15 and 25 degrees Celsius (inclusive) or if the variable humidity is less than 30%. Print the result.

In [30]:
temperature = 20
humidity = 40
result = 15 <= temperature <= 25 or humidity < 30
print(result)

True

10.Create a script that checks if the variable x is not equal to the variable y and if the variable z is greater than both x and y. Print the result.

In [31]:
x = 5
y = 7
z = 10
result = x != y and z > x and z > y
print(result)

True

11.Create a script that checks if the variable a is equal to the variable b or if the variable c is equal to the variable d. Print the result.

In [32]:
a = 3
b = 3
c = 6
d = 7
result = a == b or c == d
print(result)

True

12.Create a script that checks if the variable num1 is an odd number and if the variable num2 is an even number. Print the result.

In [33]:
num1 = 9
num2 = 8
result = num1 % 2 != 0 and num2 % 2 == 0
print(result)

True

13.Create a script that checks if the variable age is between 13 and 19 (inclusive) or if the variable grade is between 7 and 12 (inclusive). Print the result.

In [35]:
age = 15
grade = 8
result = 13 <= age <= 19 or 7 <= grade <= 12
print(result)

True

14.Create a script that checks if the variable score is not between 30 and 60 (inclusive). Print the result.

In [36]:
score = 25
result = not (30 <= score <= 60)
print(result)

True