In [1]:
#range

In [7]:
mylist=[1,2,3,4,5,6,7,8,9,10]
for num in range (0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [9]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [11]:
for num in range (3,10):
    print(num)

3
4
5
6
7
8
9

In [12]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [13]:
#enumerate

In [16]:
index_count=0
for letter in "abcd":
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d

In [17]:
word='abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [18]:
#zip function

In [20]:
mylist1=['a','b','c']
mylist2=[1,2,3]
for item in zip(mylist1,mylist2):
    print(item)

('a', 1)
('b', 2)
('c', 3)

In [25]:
mylist1=['a','b','c']
mylist2=[1,2,3,4,5]
list (zip (mylist1,mylist2))

[('a', 1), ('b', 2), ('c', 3)]

In [42]:
mylist1=['a','b','c']
mylist2=[1,2,3,4,5]
mylist3=[11,12,13,14]
for item in zip (mylist1,mylist2, mylist3):
    print(item)

('a', 1, 11)
('b', 2, 12)
('c', 3, 13)

In [47]:
mylist1=['a','b','c']
mylist2=[1,2,3,4,5]
mylist3=[11,12,13,14]
for l1,l2,l3 in zip (mylist1,mylist2,mylist3):
    print(l1)
    print(l2)
    print(l3)

a
1
11
b
2
12
c
3
13

In [49]:
#in keyword

In [50]:
'x' in [1,2,3]

False

In [51]:
'x' in['x','y','z']

True

In [52]:
'mykey'in {'mykey':345}

True

In [53]:
d = {'mykey':345}

In [56]:
345 in d.values()

True

In [57]:
#random library

In [58]:
from random import shuffle
mylist=[1,2,3,4,5,6,7,8]
shuffle(mylist)
rd1=mylist

In [59]:
rd1

[2, 3, 6, 8, 5, 7, 4, 1]

In [32]:
from random import randint #randit integer
randint(1,100)

19

In [34]:
my_num =randint(0,100)

In [35]:
my_num

39

In [36]:
#input

In [37]:
input("enter number here")

enter number here23

'23'

In [38]:
result=int(input('enter your fevourit no'))

enter your fevourit no70

In [39]:
result

70

In [40]:
type(result)

int

In [60]:
# list comphrehension in pythone

In [2]:
mystring='hello'
mylist=[]
for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [5]:
mystring='hello'
mylist=[letter for letter in mystring]

In [6]:
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
word='hello'
mylist= [x for x in word]

In [8]:
mylist

['h', 'e', 'l', 'l', 'o']

In [9]:
mylist=[x for x in 'april and any']

In [10]:
mylist

['a', 'p', 'r', 'i', 'l', ' ', 'a', 'n', 'd', ' ', 'a', 'n', 'y']

In [11]:
mynum=[num**2 for num in range(0,11)]

In [12]:
mynum

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
myeven=[x**2 for x in range (0,11)if x%2==0]

In [15]:
myeven

[0, 4, 16, 36, 64, 100]

In [17]:
celcius = [32,13,54,23,1,2,]
fahrenheit = [((9/5)*temp+32)for temp in celcius]

In [18]:
fahrenheit

[89.6, 55.400000000000006, 129.2, 73.4, 33.8, 35.6]

In [24]:
result=[x if x%2==0 else 'ODD' for x in range(0,10)]

In [25]:
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [26]:
#nested loop

In [28]:
mylist=[]
for x in [2,4,6]:
    for y in [1,3,5]:
        mylist.append(x*y)

In [30]:
mylist

[2, 6, 10, 4, 12, 20, 6, 18, 30]

In [32]:
mynest=[x*y for x in [2,4,6,]for y in [1,3,5]]

In [33]:
mynest

[2, 6, 10, 4, 12, 20, 6, 18, 30]